head{
	background-color: #99ccff;
}
body {
	margin: 0;
	padding: 0;
	background-color: #99ccff;
}
h1 {
	color: black;
	text-align: center;
	font-family: 'Aladin', cursive;
	text-shadow: 3px 3px #3399ff;
}
.box {
	width: 400px;
	background: transparent;
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 1%;
	color: black;
	font-family: garamond;
	border: 1px
}
h3 {
	font-size: large;
}
img {
	border-radius: 30%;
	width: 150px;
	height: 200px;
	border-style: groove;
	border-color: black;
}
table {
	background-color: #3399ff;
}
.box2 {
	border: 10px solid #3399ff;
	margin-top: 1%;;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	text-align: justify;
}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
